/* Background Image styles */
html {
    background: url("../images/background-image-1.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center top;
}

/* Section styles */
section h2 {
    border-bottom: 1.5px solid gold;
}

/* List Container styles */
.list-container {
    border-radius: 5px;
    min-height: 200px;
    width: 100%;
    background-color: rgba(122, 122, 122, 0.3);
    display: grid;
    grid-template-columns: repeat(auto-fill, 13vw);
    justify-content: space-between;
    align-content: start;
    gap: 2rem;
}

/* Card styles */
.card-content {
    padding: 1rem;
}

/* This ensures that posters with different dimensions will all have the same proportions in the cards */
.card img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
/* Card styles End*/

/* Modal styles */
#modal-poster-img {
    max-width: 50%;
    min-width: 30%;
    border-radius: 10px;
}

.modal-card-title {
    line-height: 1.5;
}

#movie-modal h3 {
    font-size: 1.23em;
    font-weight: bold;
}
/* Modal Styles End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1023px) {
    /* Try not to touch this or else the navbar will break on smaller screens! */
    .navbar-menu {
        display: flex;
        justify-content: center;
    }

    .navbar-brand {
        justify-content: center;
    }

    .navbar-start a {
        padding: 0.5rem 5rem;
    }

    
    .card-content, .card-footer-item {
        padding: 0.5rem;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section {
        padding: 3rem 1rem;
    }

    .list-container {
        grid-template-columns: repeat(auto-fill, 42vw);
        gap: 1rem;
    }

    .card img {
        height: 63vw;
    }
}