html {
    background: url("../images/background-image-1.jpg") no-repeat fixed;
    background-size: cover;
}

section h2 {
    border-bottom: 1.5px solid gold;
}

.list-container {
    border-radius: 5px;
    min-height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

#to-watch-list, #in-progress-list, #completed-list {
    gap: 1rem;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section {
        padding: 3rem 1rem;
    }

    .card {
        max-width: 43vw;
    }
}