<<<<<<< HEAD




#nav-logo {
    font-size: 30px;
    
}

#hero-search-bar {
    width: 200%;
}

.input, .button {
    margin-bottom: 1rem;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#search-input {
    font-size: 1rem;
    height: 2.5em;
    border-radius: 5px;
}

=======
.poster-image {
    width: 200px;
    padding: 25px;
}

/* Modal styles */
#modal-poster-img {
    max-width: 50%;
    min-width: 30%;
    border-radius: 10px;
}

.modal-card-title {
    line-height: 1.5;
}

#movie-modal h3 {
    font-size: 1.23em;
    font-weight: bold;
}
>>>>>>> 4bd650ac4a495c31daeea5f43e684fdf8db51619
