.poster-image {
    width: 200px;
    padding: 25px;
}

/* Modal styles */
#modal-poster-img {
    max-width: 50%;
    min-width: 30%;
    border-radius: 10px;
}

.modal-card-title {
    line-height: 1.5;
}

#movie-modal h3 {
    font-size: 1.23em;
    font-weight: bold;
}